HELP.md

# Ignore everything in target folders...
target/
email-writer-sb/target/

# ...but NOT JAR files in that folder
!email-writer-sb/target/*.jar

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/
